<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Campr Vendor Portal</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <style type="text/css">
        body {
            padding: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <a href="/logout" class="btn btn-primary">Log out</a>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>Delete a Vendor</h4>
            </div>
        </div>
        <div class="row">
            <span id="status"></span>
            <form class="col-md-4" method="post" action="/admin/deleteVendor">
                <input type="text" name="vendor" placeholder="Vendor Name" />
                <input type="hidden" name="csrfToken" th:value="${csrfToken}" />
                <button class="btn btn-primary" type="submit">Delete</button>
            </form>
        </div>
        <div class="row" th:if="${deletedVendor != null}">
            <h5>Deleted: <span th:text="${deletedVendor}" /></h5>
        </div>
    </div>

</body>
</html>
